
header{
    height:100vh;
    position:relative;
    overflow:hidden
}
header:after{
    content:'';
    position: absolute;
    bottom:-10px;
    width:100%;
    background-image:url(./images/wave.svg);
    height:275px;
    background-size: 100% 100%;
}